html {
  height: 100%;
}

body {
  height: 100%;
  background: url(crossword.png);
}

#title {
  text-align: center;
}

.info-text-no-chat {
  padding-top: 100px;
  text-align: center;
}

.info-text-show-chat {
  padding-top: 100px;
  text-align: center;
  margin-right: 45%;
}

#secret {
  font-size: 2px;
  padding: 300% 0 0 0;
  text-align: center;
}
  /* Chat/button */
.hidden {
  display: none;
}

.unhidden{
  display: block;
}

#chat {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 90%;
  border: none;
}

#rocket-chat-button {
  position: fixed;
  bottom: 0;
  cursor:pointer;
}

.button-hidden-chat {
  background-color: #578ea9;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: #578ea9;
  margin: 0 0.5em;
  right: 0;
}

.button-open-chat {
  background-color: white;
  color: black;
  margin: 0 0;
  right: 0;
  border:none;
  text-align: center;
  width: 3.2%;
  height: 6%;
}

.button-open-chat:hover {
  background-color: #DCDCDC;
}

input:focus {
  outline: none;
}
