body {
	background: url(crossword.png);
}

#title {
  text-align: center;
}

.left {
  padding: 100px 0 0 0;
    float: left;
  width:30%;
}

.right {
  padding: 100px 0 0 0;
    float: right;
    width: 60%;
}

#heading {
  text-align:center;
}

#info {
    position: absolute;
}

#secret {
	font-size: 2px;
	padding: 300% 0 0 0;
	text-align: center;
}

#rocket {
  display: none;
}